@tailwind base;
@tailwind components;
@tailwind utilities;


/* Variable colors*/
:root {
    --green-black: #2E4F3B;
    --green-dark: #427154;
    --green: #55916C;
    --green-apple: #8EBDA0;
    --green-light: #CFE3D6;
    --green-white: #EFF6F1;

    --beige-dark: #EFD5B4;
    --beige: #F3E0C8;
    --beige-light: #F8ECDE;
    --beige-white: #FCF8F2;

    --orange-black: #CD4D13;
    --orange-dark: #EB6428;
    --orange: #F48452;
    --orange-light: #F7A682;
    --orange-white: #FAC8B2;

    --black-1000: #101014;
    --black-900: #2A2A2D;
    --grey-800: #444446;
    --grey-700: #5F5E5F;
    --grey-600: #797878;
    --grey-500: #939191;
    --grey-400: #ADABAA;
    --grey-300: #C8C5C3;
    --grey-200: #E2DFDC;
    --grey-100: #FBF9F6;

    --error: #AA0109;
    --error-light: #CC676B;
    --error-white: #DD999D;
}

/* FONTS */
h1 {
    font-family: 'Asap', sans-serif;
    font-size: 4.5rem;
    color: var(--green-black);
}


.green {
    background-color: var(--green-black);
}


h2 {
    font-family: 'Asap', sans-serif;
    font-size: 4rem;
    color: var(--green-black);
    color: var(--green-black);
}

h2.beige-light {
    color: var(--beige-light);
}

h2.green-black {
    color: var(--green-black);
}

h3 {
    font-family: 'Asap', sans-serif;
    font-size: 3.5rem;
    color: var(--green-black);
    color: var(--green-black);
}

h3.beige-light {
    color: var(--beige-light);
}

h3.green-black {
    color: var(--green-black);
}

h4 {
    font-family: 'Asap', sans-serif;
    font-size: 3rem;
    color: var(--green-black);
}

h5 {
    font-family: 'Asap', sans-serif;
    font-size: 1.5rem;
}

h5.green-black {
    color: var(--green-black);
}

h5.beige-light {
    color: var(--beige-light);
}

.small-title {
    font-size: 1.5rem;
}

p {
    font-family: 'General Sans', sans-serif;
    font-size: 1rem;
}

p.beige-light {
    color: var(--beige-light);
}

p.green-black {
    color: var(--green-black);
}

p.green-white {
    color: var(--green-white);
}

.p-button {
    font-family: 'General Sans', sans-serif;
    font-size: 1.2rem;
    color: var(--grey-100);
}

.bold {
    font-weight: 700;
}

small {
    font-family: 'General Sans', sans-serif;
    font-size: 1.25rem;
}

a p {
    color: var(--grey-100);
}

li {
    margin-left: 20px;
}

.very-small {
    font-family: 'General Sans', sans-serif;
    font-size: 1rem;
    color: var(--green-black);
}

.cta-bold {
    font-family: 'General Sans', sans-serif;
    font-size: 1.25rem;
    font-weight: 700;
}

.cta-regular {
    font-family: 'General Sans', sans-serif;
    font-size: 1.25rem;
}

/* FONT SMOOTHING */
*,
::after,
::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* div{
    width: 100%;
} */
body {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;
    background-color: var(--beige-white);
}

@media (min-width: 991px) {
    * {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

input,
textarea {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

::-webkit-scrollbar {
    -ms-overflow-style: none;
    display: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


/* Container */
.gridx2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.flex-right {
    justify-content: flex-start;
}

.flexx2 {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: top;
    gap: 30px;
    padding-top: 2rem
}

.flexx2-img {
    display: flex;
    flex: 2;
    flex-direction: row;
    min-height: 80vh;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

#blog img {
    height: 150px;
}


.flex-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.background-beige {
    background-color: var(--beige-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 35px;
    min-height: 100vh;
}

.background-green {
    background-color: var(--green-black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 80px 35px;
    min-height: 100vh;
}

.background-green span {
    color: white;
}

.container-content {
    max-width: 1180px;
    margin: auto;
    padding: 70px 40px;
}

.padding-height{
    padding: 100px 0px;
}

.relative {
    position: relative;
}

/* BUTTON */
.btn-text-image {
    max-width: 230px;
}

.text-white {
    color: white;
}

.color-red {
    color: var(--orange-black);
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: underline;
}

.form-content {
    background-color: var(--beige-light);
    border-radius: 12px 0px 12px 0px;
    padding: 30px;
}

.form-content section {
    background-color: var(--beige-light);
}

/* .form-content h5,
p {
    color: var(--green-black);
} */

.card-item-green-grid {
    width: 100%;
    background-color: var(--green-black);
    border-radius: 0px 12px 0px 12px;
    padding: 25px;
}


.card-item-green {
    width: 100%;
    background-color: var(--green-black);
    border-radius: 0px 12px 0px 12px;
    padding: 25px;
}

.card-item-green-800 {
    width: 100%;
    background-color: var(--green-dark);
    border-radius: 0px 12px 0px 12px;
    padding: 25px;
}

.card-item-green-800 p {
    color: var(--green-apple);
}

.card-item-green-800 img {
    width: 75px;
}

.card-item-beige {
    background-color: var(--beige);
    border-radius: 0px 12px 0px 12px;
    padding: 25px;
    width: 100%;
}

.card-item-green p,
h4 {
    color: white;
}

.image-50 {
    width: 50%;
}

.image-20 {
    width: 20px;
}
.bg-gray-300 {
    border: 1px solid black;
    --tw-bg-opacity: 1;
    background-color: inherit;
}
.rounded-xl{
    display: flex;
}
.accordeon-title span {
    color: white;
    font-size: 1rem;
    text-align: left;
}

.card-item-green img {
    margin: auto;
    width: 100px;
}

.width-60 {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.margin-h-30 {
    margin: 30px 0px;
}
.py-6{
    padding: 0px    ;
}
.button-text {
    font-size: 1.2rem;
    font-family: 'Asap', sans-serif;
}
.hover\:bg-sky-500\/20:hover {
    background-color: var(--green-dark) !important;
}
.hover\:text-sky-600:hover {
    --tw-text-opacity: 1;
    color:var(--grey-100) !important;
}
.homepage-image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    overflow: hidden;
    width: 40%;
}

.image-left {
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    width: 35rem;
}

.left-image {
    position: absolute;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    width: 25rem;
}

.faq-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30rem;
}

.button-orange {
    background-color: var(--orange-black);
    border-radius: 12px 0px 12px 0px;
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-100);
    padding: 1.5rem;
    height: 3.25rem;
    gap: 0.25rem;
}

.button-orange_border {
    border: 1px solid var(--orange-black);
    border-radius: 12px 0px 12px 0px;
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--orange-black);
    padding: 1.5rem;
    height: 3.25rem;
    gap: 0.25rem;
}

.width-250 {
    width: 300px;
}

.width-400 {
    width: 400px;
}

.flex-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px;

}

.button-orange_border:hover {
    background-color: var(--orange-black);

    color: var(--grey-100);
}

.no-select-btn {
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--orange-dark);
    border: 1px solid var(--orange-dark);
    padding: 1.5rem;
    height: 3.25rem;
    gap: 0.25rem;
}

.button-beige {
    background-color: var(--beige-white);
    font-size: 1.5rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: var(--grey-100);
    gap: 0.25rem;
    color: var(--green-black);
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.button-beige.default {
    border-radius: 12px 0px 12px 0px;
    height: 3.25rem;
    padding: 1.5rem;
}

.button-beige.round {
    border-radius: 100%;
    padding: 0.8rem;
}

.border-radius {
    border-radius: 12px 0px 12px 0px;
}

.button-orange.default {
    border-radius: 12px 0px 12px 0px;
}

.button-orange.submit {
    border-radius: 0px 0px 12px 0px;
    width: 200px;
}


.button-orange:hover {
    background-color: var(--orange-dark);
}

.button-orange:active {
    background-color: #F48452;
}

.font-medium {
    font-weight: 500;
}

.card-item-beige span {
    color: var(--orange-black);
}

/* Input */
@media (min-width: 900px) {
    .lg\:ml-8 {
        margin-left: 2rem;
        display: none;
    }
}

.rounded-xl {
    height: 100%;
}
.text-gray-500 {
    color: white !important;
}
.text-gray-400 {
    --tw-text-opacity: 1;
    color: white;
}
#sommaire {
    display: flex;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
}


/* HEADER */
.lg\:inline-flex {
    display: inline-flex;
    color: var(--beige-white);
    position: relative;
}

.lg\:inline-flex:hover ::after {
    content: "";
    border: 2px solid var(--beige-white);
    border-radius: 3px 3px 0px 0px;
    position: absolute;
    bottom: -37px;
    width: 100%;
    right: 0px;
}

.hover\:bg-sky-500\/20:hover {
    background-color: inherit;
}

.ahover\:text-sky-600:hover {
    --tw-text-opacity: 1;
    color: inherit;
}

@media screen and (max-width: 768px) {
    .background-beige {
        padding: 15px;
    }
}

/* FORMS */

.search-situation-section {
    width: 100%;
}

.custom-input,
.custom-select {
    background: white;
    height: 3.25rem;
    flex-basis: 100%
}

.custom-select {
    border-radius: 12px 0px 0px 0px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.custom-select-wrapper {
    position: relative;
    display: flex;
    flex-basis: 100%
}

.custom-select::-ms-expand {
    display: none;
}

.custom-select-wrapper::after {
    content: url('https://assets.reactbricks.com/I9Q1BfsHQDk_MLe/images/master/19n9kyyhUZlB3oF.svg');
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* TEXT BLOCK SHAPES */
.text-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 0px 32px 32px 32px;
}

.text-block-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 32px 0px 32px 0px;
}

.text-background {
    background-color: var(--beige-light);
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
    width: 100%;
    height: 3.25rem;
}

/* INTERACTIVE MAP */
#map {
    max-width: 50%;
    max-height: 50%;
}

#map path {
    fill: var(--green);
    stroke: var(--beige-white);
    stroke-width: 1;
    transition: fill 0.2s, stroke 0.3s;
}

#map path:hover {
    fill: var(--green-black);
}

#map .is-active path {
    fill: var(--green-black);
}

.svg-map {
    width: 35rem;
}

/* CONTAINER */

.container-no-margins {
    padding: none;
}